{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %} 

{% block contenido_principal %}
<h2>Mis publicaciones</h2>

<!-- Agregar Canción -->
<div class="row text-right">
	<a href="/ofertas/agregar" class="btn btn-info" role="button">Nueva oferta</a>
</div>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Detalles</th>
				<th>Precio</th>
				<th>Vendedor</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for oferta in ofertas %}
			<tr>
				<td>{{ oferta.nombre }}</td>
				<td>{{ oferta.detalles }}</td>
				<td>{{ oferta.precio }}</td>
				<td>{{ oferta.usuario }}</td>
				<td>
					<a href="/oferta/eliminar/{{ oferta._id.toString() }}">Eliminar</a> <br>
			    </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<!-- Agregar Canción -->
<div class="row text-right">
	<a href="/ofertas/agregar" class="btn btn-info" role="button">Nueva oferta</a>
</div>

{% endblock %}
