{% extends "base.html" %}
{% block titulo %} Tienda – uoMusic {% endblock %}
{% block contenido_principal %}

<!-- Búsqueda -->
<div class="row">
	<div id="custom-search-input ">
		<form method="get" action="/buscador" >
			<div
					class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
				<input type="text" class="search-query form-control"
					   placeholder="¿Qué estás buscando?" name="busqueda"/>
				<span class="input-group-btn">
<button class="btn" type="submit">
<span class="glyphicon glyphicon-search"></span>
</button>
</span>
			</div>
		</form>
	</div>
</div>


<div class="table-responsive">
	<table class="table table-hover">
		<thead>
		<tr>
			<th>Nombre</th>
			<th>Detalles</th>
			<th>Precio</th>
			<th>Vendedor</th>
			<th class="col-md-1"></th>
		</tr>
		</thead>
		<tbody>
		{% for oferta in ofertas %}
		<tr>
			<td>{{ oferta.nombre }}</td>
			<td>{{ oferta.detalles }}</td>
			<td>{{ oferta.precio }}</td>
			<td>{{ oferta.usuario }}</td>
			<td>
				{%if oferta.vendida != null %}
				<a class="btn btn-default disabled">Vendido</a> <br>
				{% else %}
				<a class="btn btn-primary" href="/oferta/comprar/{{ oferta._id.toString() }}">Comprar</a> <br>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<div class="row text-center">
	<ul class="pagination">
		{% for pagina in paginas %}
		<li class="page-item" id="pi-{{ pagina}}">
			<a class="page-link" href="/buscador?pg={{ pagina }}" >{{ pagina }}</a>
		</li>
		{% endfor %}
		<script>
			$( "#pi-{{ actual}}" ).addClass("active");
		</script>

	</ul>
</div>
{% endblock %}